﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - VNEXPRESS</title>
    <link href="../Content/Css/my_css.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="header_contact">
            <a href="#">01238880123 (HN)</a>
            <a href="#">01292333655 (TPHCM)</a>
            <button>Lien He Quan Cao</button>
            <button>Like</button>
            <button>Follow</button>
            <button class="header_contact_youtube">Youtube</button>
        </div>

        <div class="header_login">
            <button>Dang nhap</button>
            <button>Dang ky</button>
            <input type="text" placeholder="Tìm Kiếm" name="name" value="" />
        </div>
    </div>

    <div class="container">

        <div class="header_banner">
            <div class="header_banner-logo">
                <a href="#">
                    <img class="item-logo" src="~/Content/Images/Logo_Vnexpress.png" />
                </a>
            </div>

            <div class="header-banner-ads">
                <div class="header_banner-item">
                    <a href="#">
                        <img class="item-img" src="~/Content/Images/banner-ads-1.png" />
                    </a>
                </div>

                <div class="header_banner-item">
                    <a href="#">
                        <img class="item-img" src="~/Content/Images/banner-ads-2.png" />
                    </a>
                </div>
            </div>
        </div>

        <div class="header-navbar">
            <ul class="header-navbar-list">
                <li class="header-navbar-item"><a href="#">Thời sự</a></li>
                <li class="header-navbar-item"><a href="#">Thế giới</a></li>
                <li class="header-navbar-item"><a href="#">Kinh Doanh</a></li>
                <li class="header-navbar-item"><a href="#">Giải Trí</a></li>
                <li class="header-navbar-item"><a href="#">Thể Thao</a></li>
                <li class="header-navbar-item"><a href="#">Pháp luật</a></li>
                <li class="header-navbar-item"><a href="#">Giáo Dục</a></li>
                <li class="header-navbar-item"><a href="#">Sức Khỏe</a></li>
                <li class="header-navbar-item"><a href="#">Sức Khỏe</a></li>
                <li class="header-navbar-item"><a href="#">Du Lịch</a></li>
                <li class="header-navbar-item"><a href="#">Khoa Học</a></li>
                <li class="header-navbar-item"><a href="#">Số Hóa</a></li>
                <li class="header-navbar-item"><a href="#">Xe</a></li>
                <li class="header-navbar-item"><a href="#">Cộng Đồng</a></li>
                <li class="header-navbar-item"><a href="#">Tâm Sự</a></li>
                <li class="header-navbar-item"><a href="#">Video</a></li>
                <li class="header-navbar-item"><a href="#">Cười</a></li>
                <li class="header-navbar-item"><a href="#">Rao Vặt</a></li>
            </ul>
        </div>
    </div>
    @RenderBody();
</body>
</html>