﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main-contain">
        <div class="contain-news">
            <button class="contain-news-btn">Trang nhất</button>
            <img src="~/Content/Images/thumnails.png" />
            <h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h1>
            <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nãy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
            <p>* Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
        </div>

        <div class="contain-other-news">
            <button class="change-language-btn">English</button>
            <ul class="other-news-list">
                <li class="other-news-item"><a href="#">Đài Loan đóng cửa trường học vì bão Megi</a></li>
                <li class="other-news-item"><a href="#">Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chốn dung thân</a></li>
                <li class="other-news-item"><a href="#">Tại sao các cặp đôi hoàn hảo vẫn ly dị</a></li>
                <li class="other-news-item"><a href="#">Ssangyong Korando-crossover giá một tỷ tại Việt Nam </a></li>
                <li class="other-news-item"><a href="#">Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</a></li>
            </ul>

            <div class="other-news-pers">
                <div class="news-pers-title">
                    <div class="title">
                        <p style="background-color: pink; margin: 0; padding: 16px 0">Góc Nhìn</p>
                        <h3>'Thất thủ trước cơn mưa'</h3>
                    </div>

                    <div class="title-img">
                        <img class="news-pers-img" src="~/Content/Images/th.jpg" />
                    </div>
                </div>

                <div>
                    <p>Hàng triệu con người bất lực trước một cơn mưa, hay còn bởi điều gì khác</p>
                </div>


            </div>
        </div>

        <div class="main-right-side">
            <div class="right-side-time">
                <p style="margin: 0">Thứ 3, 27/09/2016 09:16 GMT+7</p>
                <button>24h qua</button>
                <button>RSS</button>
            </div>

            <div class="right-side-ad-list">
                <img class="right-side-ad-item" src="~/Content/Images/right-ads-1.png" />
                <img class="right-side-ad-item" src="~/Content/Images/right-ads-2.png" />
                <img class="right-side-ad-item" src="~/Content/Images/right-ads-3.png" />
                <!--hello-->
            </div>
        </div>
    </div>

</div>
