﻿
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="main-contain">
        <div class="contain-news">
            <button class="contain-news-btn">Trang nhất</button>
            <img src="~/Content/Images/thumnails.png" />
            <h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h1>
            <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nãy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
            <p>* Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
        </div>
    </div>
</div>



