﻿body {
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header_contact a {
    text-decoration: none;
    color: black;
}

.header_contact_youtube {
    background-color: orange;
}

.item-img {
    width: 450px;
}

.item-logo {
    width: 300px;
}

/*header banner*/

.header_banner {
    display: flex;
    margin-top: 5px;
}

.header-banner-ads {
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/*header navbar */

.header-navbar {
}

.header-navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header-navbar-item {
}

    .header-navbar-item a {
        text-decoration: none;
        font-weight: 800;
        color: black;
        font-size: 15px;
    }

.contain-news-btn {
    display: block;
}

.main-contain {
    display: flex;
}

.contain-news {
    width: 50%;
    overflow: hidden;
}

    .contain-news img {
        max-width: 100%;
        max-height: 100%;
    }

.contain-other-news {
    position: relative;
    width: 20%;
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .contain-other-news .change-language-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

.other-news-list {
    list-style: none;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
}

    .other-news-list a {
        text-decoration: none;
        color: #333;
    }

.other-news-item {
    margin: 15px 0;
}

.other-news-pers {
}

.news-pers-title {
    display: flex;
}

    .news-pers-title .title {
        width: 100%;
        flex-basis: 50%;
        text-align: center;
    }

    .news-pers-title .title-img {
        width: 100%;
        flex-basis: 50%;
    }

.news-pers-img {
    max-width: 100%;
    max-height: 100%;
}

.main-right-side {
    width: 30%;
}

.right-side-time {
    display: flex;
    justify-content: space-around;
}

.right-side-ad-item {
    max-width: 100%;
    margin: 24px 0;
}
